@font-face {
      font-family: Q1;
      src: url(Quicksand-Light.ttf);
}
@font-face {
      font-family: Q2;
      src: url(Quicksand-Regular.ttf);
}
@font-face {
      font-family: Q3;
      src: url(Quicksand-Medium.ttf);
}
@font-face {
      font-family: Q4;
      src: url(Quicksand-Bold.ttf);
}

body{
      width: 700px;
      margin: auto;
      font-family: Q2, Arial, sans-serif;
}

header{
      border-bottom: 2px solid black;
      font-size: 50px;
      padding: 20px;
      text-align: center;
      font-weight: bold;
      position: fixed;
      top: 0px;
      width: 100%;
      margin: 0px;
}

.encadrer{
      border: 2px solid black;
      padding: 20px 10px;
}


nav{
      border: 2px solid black;
      width: 100px;
      position: fixed;
      top: 100px;
}
