@font-face {
  font-family: Q1;
  src: url(Quicksand-Light.ttf);
}
@font-face {
  font-family: Q2;
  src: url(Quicksand-Regular.ttf);
}
@font-face {
  font-family: Q3;
  src: url(Quicksand-Medium.ttf);
}
@font-face {
  font-family: Q4;
  src: url(Quicksand-Bold.ttf);
}

body{
  font-family: Q2, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

header{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 8%;
    margin: 0px;
    border-bottom: 2px solid black;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

footer{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 80%;
    height: 100px;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
}

footer p{
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 45pt;
    width: 75px;
    heigth: 75px;
    padding: 0px;
    margin: 0px;
}

footer a{
    text-decoration: none;
}

aside{
  border: 2px solid black;
  border-radius: 15px;
  width: 14%;
  height: auto;
  position: absolute;
  top: 13%;
  left: 15px;
  padding-left: 5px;
  overflow: auto;
}

aside h3{
  text-align: center;
}

aside p.ici {
    font-weight: bold;
}

.encadrer{
  border: 2px solid black;
  padding: 20px 10px;
}

article{
    font-size: 100%;
    border: 2px solid black;
    position: absolute;
    top: 13%;
    left: 16%;
    width: 66%;
    height: 74%;
    padding-left: 1%;
    padding-right: 1%;
}
